@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>IOperation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
        </dd>
    </dl>
    
</div>
